<div class="clip-container container-fluid">
    <div class="row">
      <div class="col-12">
        <separator
          [title]="'Game Clip'">
        </separator>
      </div>
      <div class="col-md-8 col-sm-12">
        <video-media
          *ngIf="clip as media"
          [type]="'clip'"
          [media]="media"
          [queued]="false">
        </video-media>
      </div>
      <div class="col-md-4 col-sm-12" style="background-color: darkgray">
        One of three columns
      </div>
      <div class="col-md-8 col-sm-12" style="background-color: gray">
        One of three columns
      </div>
    </div>
</div>
