<loading [loading]="loading"></loading>

<div *ngIf="!loading" class="clip-container container-fluid">
    <div class="row">
      <div class="col-12">
        <separator
          [title]="'Game Clip'">
        </separator>
      </div>

      <div class="clip-column1 col-sm-12 col-md-8">
        <video-media-options
          *ngIf="clip && authUser"
          enableDetails="true"
          enableOptions="true"
          enableStatistics="true"
          allowLikeAction="true"
          allowViewCount="true"
          allowUserInfo="true"
          [authId]="authUser.uid"
          [type]="'clip'"
          [media]="clip"
          [queued]="false">
        </video-media-options>

        <!--   Display Comments LG    -->
        <div class="comments-lg">
          <separator
            [title]="'Comments'">
          </separator>

          <ng-container class="comments">
            <div class="column col-12 pl-md-3 pr-md-3 px-lg-auto px-0">
              <div class="chat-message">
                <ul class="list-unstyled chat-1 scrollbar-light-blue">
                  <li *ngFor="let msg of comments$; trackBy: trackByCreated"
                      [style.justifyContent]="isAuthUser(msg.uid) ? 'start' : 'flex-end'"
                      class="d-flex mb-4">
                    <message
                      [authUser]="isAuthUser(msg.uid) ? authUser : null"
                      [altUID]="!isAuthUser(msg.uid) ? msg.uid : null"
                      [msg]="msg">
                    </message>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-12">
              <div class="form">
                <div class="form__group field">
                  <input [(ngModel)]="newMsg" (keydown.enter)="submit()" type="input" class="form__field" placeholder="Name" name="name" id='name' required />
                  <label for="name" class="form__label"><icon class="send-icon" name="send"></icon></label>
                </div>
                <button [disabled]="!newMsg" (click)="submit()" class="btn btn-outline-pink btn-rounded btn-sm waves-effect chat-button" type="button">
                  <span class="text">Send</span>
                  <!--        <icon name="send"></icon>-->
                </button>
              </div>
            </div>
          </ng-container>
        </div>
        <!--   Display Comments LG    -->
      </div>

      <!--  Display Explore SM    -->
      <div class="explore-sm clip-column2 col-sm-12 col-md-4">
        <separator
          [title]="'Explore'">
        </separator>
        <div>

        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-4 p-0" *ngFor="let media of exploreClips">
              <video-media-options
                [type]="'thumbnail'"
                [media]="media"
                [queued]="false">
              </video-media-options>
            </div>
          </div>
        </div>
      </div>
      <!--  Display Explore SM    -->

      <!--      <div class="clip-column3 col-md-8 col-sm-12">-->
      <div class="clip-column3 col-sm-12 col-md-4">
        <!--   Display Explore LG     -->
        <div class="explore-lg">
          <separator
            [title]="'Explore'">
          </separator>
        <div>

        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-4 p-0" *ngFor="let media of exploreClips">
              <video-media-options
                [type]="'thumbnail'"
                [media]="media"
                [queued]="false">
              </video-media-options>
            </div>
          </div>
        </div>
        </div>
        <!--   Display LG     -->

        <!--    Display Comments SM    -->
        <div class="comments-sm">
          <separator
                     [title]="'Comments'">
          </separator>

          <ng-container class="comments">
            <div class="column col-12 pl-md-3 pr-md-3 px-lg-auto px-0">
              <div class="chat-message">
                <ul class="list-unstyled chat-1 scrollbar-light-blue">
                  <li *ngFor="let msg of comments$; trackBy: trackByCreated"
                      [style.justifyContent]="isAuthUser(msg.uid) ? 'start' : 'flex-end'"
                      class="d-flex mb-4">
                    <message
                      [authUser]="isAuthUser(msg.uid) ? authUser : null"
                      [altUID]="!isAuthUser(msg.uid) ? msg.uid : null"
                      [msg]="msg">
                    </message>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-12">
              <div class="form">
                <div class="form__group field">
                  <input [(ngModel)]="newMsg" (keydown.enter)="submit()" type="input" class="form__field" placeholder="Name" name="name" id='name' required />
                  <label for="name" class="form__label"><icon class="send-icon" name="send"></icon></label>
                </div>
                <button [disabled]="!newMsg" (click)="submit()" class="btn btn-outline-pink btn-rounded btn-sm waves-effect chat-button" type="button">
                  <span class="text">Send</span>
                  <!--        <icon name="send"></icon>-->
                </button>
              </div>
            </div>
          </ng-container>
        </div>
        <!--    Display SM    -->

      </div>
    </div>
</div>
