<section *ngIf="media" class="video-item card ux-maker" [class.show-description]="showDesc">
  <section class="media-card">
    <div class="front face is-rounded-bottom">
      <div class="indicators clearfix">
        <span class="pull-left item-is-playing">
					<icon name="play"></icon>Now Playing
				</span>
      </div>
      <div rel="tooltip" class="media-thumb is-rounded-top" [title]="media.titleName" (click)="goClip(media)">
        <div class="thumbnail" *ngIf="type === 'thumbnail' && media.thumbnails">
          <img class="thumb-image thumb-shadow" [src]="media.thumbnails[0]?.uri">
          <img class="thumb-image is-rounded" [src]="media.thumbnails[0]?.uri">
        </div>

        <div class="thumbnail" *ngIf="type === 'clip' && media.thumbnails">
          <video playsinline class="thumb-video" controls [poster]="media.thumbnails[0]?.uri">
            <source *ngIf="media.gameClipUris" [src]="media.gameClipUris[0]?.uri" type="video/mp4"/>
          </video>
        </div>

        <button class="btn btn-transparent text-primary btn-lg ux-maker play-media">
          <icon name="video-play 3x"></icon>
        </button>
      </div>

      <section *ngIf="enableDetails" class="item-actions main-actions is-rounded">
        <div class="header-info is-flex-row mb-3">
          <div *ngIf="user" class="user-info">
            <img (click)="goUser(user.uid)" [src]="user.avatar" alt="avatar" class="avatar rounded-circle mr-2 ml-lg-3 ml-0 z-depth-1">
          </div>
          <h4 class="title">
            <span rel="tooltip" class="media-thumb ellipsis">{{ media.titleName }}</span>
            <span>{{media.userCaption}}</span>
          </h4>
        </div>

        <section *ngIf="enableStatistics" class="stats is-absolute-bottom is-flex-row">
          <likes
            [authId]="authId"
            [clipId]="media.id"
            [allowLikeAction]="allowLikeAction"
            [likeCount]="media.likeCount">
          </likes>
          <views
            [authId]="authId"
            [clipId]="media.id"
            [views]="media.views"
            [allowViewCount]="allowViewCount">
          </views>
        </section>

        <section *ngIf="enableOptions" class="media-actions is-flex-row is-flex-valign">
          <button
            *ngIf="!queued"
            class="btn btn-transparent text-info first-action"
            (click)="queueVideo(media)">
            <icon name="reply" title="Queue this video to now playlist"></icon>
          </button>
          <button
            *ngIf="isAuthUser && adminActionEnabled"
            class="btn btn-transparent text-danger no-padding"
            (click)="removeVideo(authId, media.id)">
            <icon name="trash" title="Remove video"></icon>
            Remove
          </button>
          <div class="dropdown">
            <button
              (click)="getPlaylist()"
              class="btn dropdown btn-link"
              type="button"
              id="dropdownPlaylistButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              title="Add this video to a playlist">
              <icon name="plus"></icon>
              Add
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownPlaylistButton">
              <a *ngFor="let playlist of playlists" (click)="addVideoToPlaylist(playlist.id, media.id)" class="dropdown-item" style="cursor: pointer">
                <span class="dropdown-item">{{playlist.name}}</span>
              </a>
            </div>
          </div>
          <!-- <span class="is-strechable"></span> -->
          <span class="text-info item-duration">
						<icon name="clock-o"></icon> {{ media.durationInSeconds }}
					</span>
<!--          <button class="btn btn-transparent no-padding">-->
<!--            <icon-->
<!--              name="info-circle"-->
<!--              title="more info about this video"-->
<!--              class="text-info text-md is-media-valign"-->
<!--              (click)="toggle(showDesc)"-->
<!--              ></icon>-->
<!--          </button>-->
        </section>
      </section>
    </div>

<!--    <section-->
<!--      *ngIf="showDesc"-->
<!--      class="close-desc is-absolute-bottom is-absolute-right">-->
<!--      <button-->
<!--        (click)="toggle(showDesc)"-->
<!--        class="btn-transparent btn-xs text-md text-success"-->
<!--        title="flip back...">-->
<!--        <icon name="times-circle"></icon>-->
<!--      </button>-->
<!--    </section>-->

  </section>

</section>
