@import '../../../../../../../../assets/home/echoes-variables';

//@media (min-width: 320px) {
  :host {
    --track-badge-color: var(--brand-dark-bg-color);
    --text-color: var(--brand-inverse-text);
    --track-active-border-color: var(--brand-primary);
    --track-bg-active-color: var(--brand-dark-bg-color-transparent);

    $track-badge-index: 10;
    $track-button: 15;
    $track-border-color: #262829;
    $remove-font-size: 2rem;
    $playlist-font-size: 2rem;

    .is-online {
      color: #00ff00;
      background-color: #00ff00;
      border-radius: 1rem;
    }
    .is-away {
      color: yellow;
      background-color: yellow;
      border-radius: 1rem;
    }
    .is-offline {
      color: red;
      background-color: red;
      border-radius: 1rem;
    }

    .status-sidebar-closed {
      transform: translate(-2rem, -2rem);
    }

    .now-playlist-track__trigger {
      border: 1px solid ghostwhite;
      text-shadow: none;
      padding: 1.5rem;
      border-radius: 7px;
      position: relative;
      background: rgba(10, 10, 10, 0.2)!important;
      box-shadow: inset 0px 0px 6px rgba(10, 10, 10, 0.5)!important;
      //background-color: var(--sidebar-bg-secondary);
      //box-shadow: inset 0 0 10px #000000;
      -moz-box-shadow: inset 0 0 10px #000000;
      -webkit-box-shadow: inset 0 0 10px #000000;

      .track-contents {
        display: flex;
        flex-direction: row;
        height: 65px;
      }

      .active & {
        color: var(--text-color);
        //border-right: 6px solid var(--track-active-border-color);
        //background: var(--track-bg-active-color);
        //background-color: #202a2f;
        background: rgba(10, 10, 10, 0.2);
        box-shadow: inset 0px 0px 6px rgba(10, 10, 10, 0.5);
        margin: 0;
        //border-radius: 0;
        text-shadow: none;
        padding: 1.5rem;
        border-radius: 7px;
        position: relative;
      }
    }

    .track-number {
      position: absolute;
      left: 1.5rem;
      padding: 0.5rem;
      background-color: rgba(0, 0, 0, 0.9);
      font-size: 1rem;
      font-weight: bold;
      //color: var(--sidebar-text-lighter);
      color: ghostwhite;
    }

    .track-actions {
      position: absolute;
      top: 6rem;
      right: 0;
      margin-right: 12px;
      .btn-group {
        .text-info {
          margin-right: 2rem;
        }
      }
    }

    .track-info {
      max-height: 400px;
      overflow: auto;
      //color: var(--sidebar-text-lighter);
      margin-top: 2rem;
      color: ghostwhite;
    }

    .playlist-track {
      font-size: $playlist-font-size;
      display: inline-block;
      padding: 0;
      icon {
        color: #6595ed;
      }
    }

    .video-title {
      overflow: hidden;
      max-height: 6rem;
      min-height: 6.5rem;
      min-width: 195px;
      transition: transform 300ms ease-out 200ms;
      transform: translateY(0);
      width: 100%;
      padding: 0 1rem;
      color: ghostwhite;
    }

    .video-thumb {
      height: 4.8rem;
      width: 6.4rem;

      .video-thumb__image {
        cursor: pointer;
        height: 100%;
        border-radius: 10px;
      }
    }

    .remove-track {
      position: absolute;
      top: 1rem;
      right: 0rem;
      // display: block;
      z-index: $track-button;
      font-size: 1.5rem;
      //transform: translatex(-1rem);

      icon {
        vertical-align: top;
      }
    }

    .badge-info {
      border-radius: 0;
      background: var(--track-badge-color);
      margin: 0 auto;
      display: block;
      font-size: 1rem;
      margin-top: 0;
      z-index: $track-badge-index;
      position: relative;
    }

    .track-tracks {
      margin: 1.5rem -1.5rem 0;
      border-top: 1px solid var(--track-active-border-color);

      .album-tracks-heading {
        margin: 0 2rem;
        color: var(--track-active-border-color);
        font-size: 1.5rem;
      }

      .list-group-item {
        border: none;
        color: var(--text-color);

        &:hover {
          color: var(--track-active-border-color);
        }
      }
    }
  }
//}

@media (min-width: 768px) {
  :host {
    .remove-track {
      //transform: translatex(5rem);
    }
    &:hover {
      .remove-track {
        //transform: translatex(0rem);
      }
    }

    .track-actions {
      .closed & {
        transform: translateX(20px);
      }
    }
    .track-info {
      .closed & {
        display: none;
      }
    }
    .track-tracks {
      .btn {
        font-size: 1.5rem;
      }
    }
  }
}
