:host{
  button {
    opacity: 1;
    .item-action {
      &.item-likes {
        margin-right: 0.5rem;
      }

      icon {
        color: cornflowerblue;
      }
    }

    .item-views {
      display: inline-block;
      color: gray;
    }
  }
}

@media (min-width: 500px) and (max-width: 767px) {
  :host {
    .video-item {
      .item-views {
        display: block;
      }
    }
  }
}
