.is-online {
  //border: 1px solid ghostwhite;
  color: #00ff00;
  //background-color: #00ff00;
  //border-radius: 1rem;
}
.is-away {
  //border: 1px solid ghostwhite;
  color: yellow;
  //background-color: yellow;
  //border-radius: 1rem;
}
.is-offline {
  //border: 1px solid ghostwhite;
  color: red;
  //background-color: red;
  //border-radius: 1rem;
}

.friend-card{
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;

  &:hover {
    .card-info {
      background: rgba(10, 10, 10, 0.2);
      box-shadow: inset 0px 0px 6px rgba(10, 10, 10, 0.5);
      //border-left: 1px solid ghostwhite;
      //border-right: 1px solid ghostwhite;
    }
  }

}

.friend-card .card-info{
  padding: 0 1rem;
  border-left: 1px solid ghostwhite;
  border-right: 1px solid ghostwhite;
  border-bottom: 1px solid ghostwhite;
}

.friend-card .card-info img.profile-photo-lg{
  cursor: pointer;
  margin-top: -60px;
  border: 7px solid #fff;
}

img.profile-photo-lg {
  cursor: pointer;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.text-green {
  color: #8dc63f;
}

.tag {
  color: ghostwhite;
}

.profile-link {
  color: cornflowerblue;
}
