<div *ngIf="userInfo as user" class="friend-card">
  <img src="https://via.placeholder.com/400x100/6495ED" alt="profile-cover" class="img-responsive cover">
<!--  <div class="card-header"></div>-->
  <div class="card-info">
    <img [src]="user.avatar" alt="user" class="profile-photo-lg">
    <div class="friend-info">
      <a class="pull-right text-green">My Friend</a>
      <h5><a class="profile-link">{{user.fname}} {{user.lname}}</a></h5>
      <p class="tag">{{user.bio}}</p>
    </div>
  </div>
</div>
