<div *ngIf="user | async as user" class="container user-container">
  <div class="profile-page tx-13">
    <div class="row">
      <div class="col-12 grid-margin">

        <user-header
          *ngIf="auth as auth"
          [userFriends]="userFriends"
          [auth]="auth"
          [user]="user"
          (selectedTab)="selectTab($event)">
        </user-header>

      </div>
    </div>
    <div [hidden]="!(activeTab === 'tab1')" class="profile-body">

      <user-dashboard
        [authId]="auth.uid"
        [user]="user">
      </user-dashboard>

    </div>
    <div [hidden]="!(activeTab === 'tab2')" class="row profile-body">

      <div class="container">
        <div class="card text-center">
          <div class="card-header">
            Featured
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a class="btn btn-primary">Go somewhere</a>
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
        </div>
      </div>

    </div>
    <div [hidden]="!(activeTab === 'tab3')" class="row profile-body">

      <user-friends
        [userFriends]="userFriends">
      </user-friends>

    </div>
    <div [hidden]="!(activeTab === 'tab4')" class="row profile-body">
      <user-videos [authUser]="auth" [userUID]="userUID"></user-videos>
    </div>
  </div>
</div>
