$icon-font-path: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/" !default;
// Include Bootstrap styles
@import "~bootstrap-sass/assets/stylesheets/_bootstrap";

.bg-page {
  //background: cornflowerblue;
  //background: #FAFAFA;
  background-color: #263238;
  height: 100vh;
  display: block;
  transition: margin 0.3s ease-out;
  margin-left: 0;
}
