$icon-font-path: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/" !default;
// Include Bootstrap styles
@import '../assets/home/echoes-variables';
@import "../assets/home/bootstrap-custom";
//@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootstrap/dist/css/bootstrap.min.css";

.bg-page {
  //background: cornflowerblue;
  //background: #FAFAFA;
  font-family: "Bahnschrift Light"; // "Malgun Gothic"; // "Trebuchet MS";
  background-color: #263238;
  height: 100vh;
  display: block;
  transition: margin 0.3s ease-out;
  margin-left: 0;
}
