
<profile-sidebar [class.closed]="sidebarToggle$ | async"></profile-sidebar>

<div class="container-main">
  <article
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollDisabled]="currentPlaylist$"
    (scrolled)="searchMore()"
    [immediateCheck]="true">
    <profile-navbar>
      <div class="navbar-header">
        <player-search
          [query]="query$"
          [searchParams]="queryParams$"
          (queryChange)="resetPageToken($event)"
          (paramsChange)="updateParams($event)"
          (search)="search($event)"
        ></player-search>
      </div>
      <section class="is-flex-row is-content-aligned-h"></section>
    </profile-navbar>
    <router-outlet name="profile"></router-outlet>
  </article>
</div>

