<div class="brand-container"
     (click)="handleToggleSidebar()">
  <section class="brand-text">
    <h3 class="text brand-text-item">Game</h3>
          <icon name="gamepad" class="brand-icon brand-text-item"></icon>
    <h3 class="text brand-text-item">Social</h3>
  </section>
  <button class="btn btn-transparent sidebar-toggle">
    <icon name="bars 2x"></icon>
  </button>

</div>

<div class="card">
  <img class="card-img-top img-rounded" alt="avatar" src="../../../../../assets/Koala.jpg"/>
  <div [class.hidden]="sidebarToggle$ | async" class="card-body">
    <h5 class="card-title">Fname Lname</h5>
    <p class="card-text">Some example text</p>
  </div>
</div>
