@import '../../../../../../assets/home/core/global';

.brand-container {
  background-color: cornflowerblue;
  cursor: pointer;
}

button {
  background-color: transparent !important;
  border-color: transparent;
  box-shadow: none;
  outline: 0;
  icon {
    color: cornflowerblue;
  }
}

//@media (min-width: 320px) {
  :host {
    width: 100%;
    .card {
      background: rgba(10, 10, 10, 0.2);
      box-shadow: inset 0px 0px 6px rgba(10, 10, 10, 0.5);
      .img-rounded {
        cursor: pointer;
        //padding: .5rem;
        padding: .1rem;
        //border-radius: 20px;
        //or
        max-height: 15rem;
        max-width: 15rem;
        border-radius: 1rem;
        margin: auto;
      }
      .card-body {
        //background: rgba(10, 10, 10, 0.2);
        //box-shadow: inset 0px 0px 6px rgba(10, 10, 10, 0.5);
        .card-title {
          color: ghostwhite;
        }
        .card-text {
          color: ghostwhite;
        }
      }
    }

    .brand-container {
      $brand-icon-font-size: 30px;
      $brand-icon-line-height: 2;
      $brand-icon-margin: 0 0.3rem;
      $brand-padding: 0.5rem 1.5rem;

      padding: $brand-padding;
      margin: 0;
      text-transform: uppercase;
      position: relative;
      display: flex;

      .brand-text {
        flex: 1;
        display: flex;
        flex-direction: row;

        .brand-text-item {
          color: ghostwhite;
          margin: 0;
          transition: flex, opacity 0.3s ease-in;
          line-height: $brand-icon-line-height;
        }
      }

      button {
        icon {
          color: cornflowerblue;
        }
      }

      .brand-icon {
        font-size: $brand-icon-font-size;
        margin: $brand-icon-margin;
        color: #263238 !important;
        padding-top: 8px;
        flex: 0 0 0%;

        &.brand-text-item {
          line-height: 1 !important;
        }

        .closed & {
          flex: 0;
        }
      }

      .text {
        flex: 0 1 0%;
      }

      .sidebar-toggle {
        transition: transform;
        transform: translateX(37.5rem);
        color: var(--brand-primary);

        &:focus {
          box-shadow: none;
        }

        .closed & {
          position: absolute;
          transform: translateY(-4rem);
          outline: none;
        }
      }
    }
  }
//}

@media (min-width: 768px) {
  :host {
    .brand-container {
      .sidebar-toggle {
        transform: translateX(0);
        color: var(--brand-inverse-text);
      }

      button {
        icon {
          color: #263238;
        }
      }

      .brand-icon {
        .closed & {
          flex: 1 1 100%;
        }
      }
    }
  }
}

@media (min-width: 768px) { //1024px
  :host {
    .brand-container {
      .closed & {
        text-align: center;
      }
      .text {
        .closed & {
          flex: 0 1 00%;
          width: 0;
          overflow: hidden;
          opacity: 0;
        }
      }
    }
  }
}
