/* You can add global styles to this file, and also import other style files */

//@import "assets/bootstrap-sass/variables";
@import "../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: #fafafa;
  //overflow:hidden;
}

.main {
  margin-top: 50px;
  overflow-y: scroll;
}
