<div class="container">

  <div class="friend-list">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="friend-card">
          <img src="https://via.placeholder.com/400x100/6495ED" alt="profile-cover" class="img-responsive cover">
          <div class="card-info">
            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="profile-photo-lg">
            <div class="friend-info">
              <a class="pull-right text-green">My Friend</a>
              <h5><a class="profile-link">Sophia Lee</a></h5>
              <p class="tag">Student at Harvard</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="friend-card">
          <img src="https://via.placeholder.com/400x100/008B8B" alt="profile-cover" class="img-responsive cover">
          <div class="card-info">
            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="user" class="profile-photo-lg">
            <div class="friend-info">
              <a class="pull-right text-green">My Friend</a>
              <h5><a class="profile-link">Sophia Lee</a></h5>
              <p class="tag">Student at Harvard</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="friend-card">
          <img src="https://via.placeholder.com/400x100/9932CC" alt="profile-cover" class="img-responsive cover">
          <div class="card-info">
            <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="user" class="profile-photo-lg">
            <div class="friend-info">
              <a class="pull-right text-green">My Friend</a>
              <h5><a class="profile-link">Sophia Lee</a></h5>
              <p class="tag">Student at Harvard</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="friend-card">
          <img src="https://via.placeholder.com/400x100/228B22" alt="profile-cover" class="img-responsive cover">
          <div class="card-info">
            <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="user" class="profile-photo-lg">
            <div class="friend-info">
              <a class="pull-right text-green">My Friend</a>
              <h5><a class="profile-link">Sophia Lee</a></h5>
              <p class="tag">Student at Harvard</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="friend-card">
          <img src="https://via.placeholder.com/400x100/20B2AA" alt="profile-cover" class="img-responsive cover">
          <div class="card-info">
            <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="user" class="profile-photo-lg">
            <div class="friend-info">
              <a class="pull-right text-green">My Friend</a>
              <h5><a class="profile-link">Sophia Lee</a></h5>
              <p class="tag">Student at Harvard</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="friend-card">
          <img src="https://via.placeholder.com/400x100/FF4500" alt="profile-cover" class="img-responsive cover">
          <div class="card-info">
            <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="user" class="profile-photo-lg">
            <div class="friend-info">
              <a class="pull-right text-green">My Friend</a>
              <h5><a class="profile-link">Sophia Lee</a></h5>
              <p class="tag">Student at Harvard</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
